.maintenance {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    background-color: #f8f8f8;
  }
  
  .maintenance ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  } /* tä */
  
  
  .maintenance input {
    margin-right: 0.5rem;
    padding: 0.25rem;
  }
  