#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Taustakuva koko sivulle,  kiipeilyteemaan */
body {
  font-family: system-ui, sans-serif;
  background: url('/images/taustakuva.webp') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: #000000;
}

/* nää jäivät kun projekti tehtiin Vite-React-pohjasta. Ei käytössä mutta ei haittaa just in case */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Vanhasta Vite-tyylistä. Ei varsinaisesti käytössä mutta jääköön */
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Sivun pääsisältö keskelle ja vähän marginaalia */
.app-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}